body {
    margin: 0;
}

.video-container {
    background: #1a1a1a;
    overflow: auto;
}

.player-container {
    width: 70%;
    float: left;
}

.chat-container {
    width: 30%;
    float: right;
}

.video-js {}

.vjs-playlist.vjs-playlist-horizontal {
    height: 120px;
}